@(forgotPasswordForm: Form[org.slashgames.tournament.auth.formdata.ForgotPasswordData])

@import org.slashgames.tournament.core.views.html.main
@import org.slashgames.tournament.core.views.html.forms._

@main("Passwort vergessen") {
	<p>
		Falls Du Dein Passwort vergessen hast, kannst Du Dir eine Mail zusenden lassen, die einen Link zum Zur&uuml;cksetzen Deines Passworts enth&auml;lt.
	</p>
	
	@helper.form(org.slashgames.tournament.auth.controllers.routes.LoginController.forgotPasswordSubmit){
		@formError(forgotPasswordForm)
		
		@formInput(forgotPasswordForm, "email", "email", "E-mail")

	 	@formButton("Mail abschicken")
	}
}
