@(resetPasswordForm: Form[org.slashgames.tournament.auth.formdata.ResetPasswordData], email: String)

@import org.slashgames.tournament.core.views.html.main
@import org.slashgames.tournament.core.views.html.forms._

@main("Passwort setzen") {
	<p>
		Wir haben einen Code zum Zur&uuml;cksetzen Deines Passworts an die Adresse @email geschickt. Bitte gib diesen Code und dein gew&uuml;nschtes Passwort ein.
	</p>
	
	@helper.form(org.slashgames.tournament.auth.controllers.routes.LoginController.resetPasswordSubmit(email)){
		@formError(resetPasswordForm)
		
		@formInput(resetPasswordForm, "text", "code", "Code")
		@formInput(resetPasswordForm, "password", "password", "Neues Passwort")
	  	@formInput(resetPasswordForm, "password", "passwordRepeat", "Neues Passwort wiederholen")

	 	@formButton("Password setzen")
	}
}
