@(tournamentForm: Form[org.slashgames.tournament.cms.formdata.TournamentData], games: List[String])

@import org.slashgames.tournament.core.views.html._
@import org.slashgames.tournament.core.views.html.forms._

@main("Turnier erstellen") {
	@helper.form(org.slashgames.tournament.cms.controllers.routes.TournamentCMSController.addTournamentSubmit){
		@formError(tournamentForm)
		
		@formInput("text", "name", "Turniername")
	  	@formInput("text", "date", "Datum und Uhrzeit")
	  	@formInput("text", "location", "Ort")
	  	@formInput("text", "judge", "Judge")
	  	@formSelect("game", "Spiel", games)
	  	
	 	@formButton("Turnier erstellen")
	}
}
