@(tournaments: List[org.slashgames.tournament.core.models.Tournament])

@import org.slashgames.tournament.core.views.html.main

@main("Turniere") {
	<div class="row">
	   	<div class="col-md-2"><strong>Turnier</strong></div>
	   	<div class="col-md-2"><strong>Spiel</strong></div>
	   	<div class="col-md-2"><strong>Datum</strong></div>
	   	<div class="col-md-2"><strong>Ort</strong></div>
	   	<div class="col-md-2"><strong>Details</strong></div>			
    </div>
	    
	@for(tournament <- tournaments) {
		<div class="row">
		   	<div class="col-md-2">@tournament.name</div>
		   	<div class="col-md-2">@if(tournament.game != null) { @tournament.game.name }</div>
		   	<div class="col-md-2">@tournament.date</div>
		   	<div class="col-md-2">@tournament.location</div>
		   	<div class="col-md-2"><a href="@org.slashgames.tournament.core.controllers.routes.TournamentController.tournament(tournament.id)">Details</a></div>			
	    </div>
	}
}