@(signupForm: Form[org.slashgames.tournament.auth.formdata.SignupData])

@import org.slashgames.tournament.core.views.html.main
@import org.slashgames.tournament.core.views.html.forms._

@main("Registrierung") {
	@helper.form(org.slashgames.tournament.auth.controllers.routes.LoginController.signupSubmit){
		@formError(signupForm)
		
		@formInput(signupForm, "name", "name", "Name")
		@formInput(signupForm, "email", "email", "E-mail")
		@formInput(signupForm, "password", "password", "Password")
	  	@formInput(signupForm, "password", "passwordRepeat", "Password wiederholen")
	  	
	 	@formButton("Registrieren")
	}
}
