@(theTournament: org.slashgames.tournament.tournaments.models.Tournament, theUser: org.slashgames.tournament.auth.models.User, participateForm: Form[org.slashgames.tournament.hearthstone.formdata.HearthstoneParticipationData], classes: List[String])

@import org.slashgames.tournament.core.views.html._
@import org.slashgames.tournament.core.views.html.forms._
@import org.slashgames.tournament.tournaments.views.html._

@main("Check-In") {
	<h4>@theTournament.name</h4>

	@tournamentDetails(theTournament)

	<p>
		<strong>Teilnehmer:</strong> @theUser.name (@theUser.email)
	</p>

	@helper.form(org.slashgames.tournament.hearthstone.controllers.routes.HearthstoneController.addParticipantSubmit(theTournament.id, theUser.email)){
		@formError(participateForm)
		
		@formInput(participateForm, "text", "battleTag", "BattleTag", "Dein Battle.net Nickname mit numerischem BattleTag-Code (z.B. ArdoR#2629)")
		
	  	@formInput(participateForm, "text", "deck1Link", "Erste Deckliste", "Link zur Liste der Karten des ersten Decks, mit dem Du teilnehmen wirst (z.B. http://www.hearthhead.com/deck=20405/nicks-kirin-tor-mage)")
	  	@formSelect(participateForm, "deck1Class", "Erste Deckklasse", classes)
	  	
	  	@formInput(participateForm, "text", "deck2Link", "Zweite Deckliste")
	  	@formSelect(participateForm, "deck2Class", "Zweite Deckklasse", classes)
	  	
	  	@formInput(participateForm, "text", "deck3Link", "Dritte Deckliste")
	  	@formSelect(participateForm, "deck3Class", "Dritte Deckklasse", classes)
	  	
	  	@formInput(participateForm, "text", "seedRank", "Gesamtheldenlevel", "Die Summe der Level Deiner neun Heldenklassen (z.B. 327)")
	  			
	 	@formButton("Teilnehmen")
	}
}
