@(tournament: org.slashgames.tournament.tournaments.models.Tournament)

@import org.slashgames.tournament.core.views.html.main

@main(tournament.name) {
	<h3>Informationen</h2>
	
	<ul>
		<li><strong>Spiel:</strong> @tournament.game.name</li>
		<li><strong>Datum:</strong> @tournament.date</li>
		<li><strong>Ort:</strong> @tournament.location</li>
		<li><strong>Modus:</strong> @tournament.format.name, @tournament.mode.name, BO@tournament.bestOf</li>
		<li><strong>Judge:</strong> @tournament.judge</li>
	</ul>
	
	<h3>Teilnahme</h2>
	
	<div>
		@if(org.slashgames.tournament.auth.controllers.LoginController.isLoggedIn()) {
			@if(tournament.game.name.equals("Hearthstone")) {
				@if(org.slashgames.tournament.hearthstone.controllers.HearthstoneController.isParticipating(tournament)) {
					<p>Du nimmst an diesem Turnier teil.</p>
					<p><a href="@org.slashgames.tournament.hearthstone.controllers.routes.HearthstoneController.participate(tournament.id)">Teilnahmedaten &auml;ndern</a></p>
				} else {
					<p>Du nimmst an diesem Turnier noch nicht teil.</p>
					<p><a href="@org.slashgames.tournament.hearthstone.controllers.routes.HearthstoneController.participate(tournament.id)">An diesem Turnier teilnehmen</a></p>
				}
			}
		} else {
			Du musst eingeloggt sein, um an diesem Turnier teilnehmen zu k&ouml;nnen.
		}
	</div>
}