@(tournament: org.slashgames.tournament.tournaments.models.Tournament)

@import org.slashgames.tournament.core.views.html.main
@import org.slashgames.tournament.tournaments.models._

@main(tournament.name) {
	<h3>Informationen</h3>
	
	@tournamentDetails(tournament)
	
  	@if(org.slashgames.tournament.auth.controllers.LoginController.isAdmin) {
		<p><a href="@org.slashgames.tournament.tournaments.controllers.routes.TournamentController.startNextRound(tournament.id)">neue Runde beginnen</a></p>
	}
				
	<h3>Teilnahme</h3>
	
	<div>
		@if(org.slashgames.tournament.auth.controllers.LoginController.isLoggedIn()) {
			@if(tournament.game.name.equals("Hearthstone")) {
				@if(org.slashgames.tournament.hearthstone.controllers.HearthstoneController.isParticipating(tournament)) {
					<p>Du nimmst an diesem Turnier teil.</p>
					<p><a href="@org.slashgames.tournament.hearthstone.controllers.routes.HearthstoneController.participate(tournament.id)">Teilnahmedaten &auml;ndern</a></p>
				} else { @if(tournament.status == TournamentStatus.SIGNUP) {
					<p>Du nimmst an diesem Turnier noch nicht teil.</p>
					<p><a href="@org.slashgames.tournament.hearthstone.controllers.routes.HearthstoneController.participate(tournament.id)">An diesem Turnier teilnehmen</a></p>
				} else { @if(tournament.status == TournamentStatus.RUNNING) {
					<p>Dieses Turnier l&auml;uft bereits.</p>
				} else { @if(tournament.status == TournamentStatus.FINISHED) {
					<p>Dieses Turnier ist bereits beendet.</p>
				}}}}
			}
		} else {
			Du musst eingeloggt sein, um an diesem Turnier teilnehmen zu k&ouml;nnen.
		}
	</div>
	
	<h3>Regeln</h3>
	
	<h4>Spielregeln</h4>
	@Html(tournament.game.rules)
	
	<h4>Formatregeln</h4>
	@Html(tournament.format.rules)
	
	@if(!org.slashgames.tournament.core.util.StringHelper.isNullOrEmpty(tournament.rules)) {
		<h4>Turnierregeln</h4>
		<p>@tournament.rules</p>
	}
	
	<h3>Teilnehmer</h3>

	<div class="row">
	   	<div class="col-md-2"><strong>Name</strong></div>
	   	<div class="col-md-2"><strong>BattleTag</strong></div>
	   	<div class="col-md-2"><strong>Klassen</strong></div>
	   	
	  	@if(org.slashgames.tournament.auth.controllers.LoginController.isAdmin) {
			<div class="col-md-2"><strong>Administration</strong></div>
		}
    </div>
    	
	@if(tournament.game.name.equals("Hearthstone")) {
		@for(participation <- org.slashgames.tournament.hearthstone.modelcontrollers.HearthstoneParticipationModelController.getParticipations(tournament)) {
			<div class="row">
			   	<div class="col-md-2">@participation.participation.participant.name</div>		
			   	<div class="col-md-2">@participation.battleTag</div>
			   	<div class="col-md-2">
			   		<img width="24" src="@routes.Assets.at("images/hearthstoneicons/" + participation.deck1.heroClass.name + ".png")">
			   		<img width="24" src="@routes.Assets.at("images/hearthstoneicons/" + participation.deck2.heroClass.name + ".png")">
			   		<img width="24" src="@routes.Assets.at("images/hearthstoneicons/" + participation.deck3.heroClass.name + ".png")">
			   	</div>
			   	
			  	@if(org.slashgames.tournament.auth.controllers.LoginController.isAdmin) {
					<div class="col-md-2"><a href="@org.slashgames.tournament.hearthstone.controllers.routes.HearthstoneController.confirmRemoveParticipant(participation.id)">entfernen</a></div>
				}
		    </div>
		}
	}
	
	<p></p>
	<p>Die Decklisten der Teilnehmer werden verf&uuml;gbar, sobald das Turnier beendet ist.</p>
	
	<h3>Regelversto&szlig;</h3>
	
	<ul>
		<li><strong>Nichtantritt:</strong> Bei Nichterscheinen bis 15 Minuten nach Matchzeitpunkt wird ein Freewin an den Gegner vergeben.</li>
		<li><strong>Illegales Verhalten:</strong> Jegliche Aktionen, die einem Spieler einen unfairen Vorteil verschaffen k&ouml;nnen, sind verboten. Dies schlie&szlig;t Cheating und Buguse ein. Bei Verst&ouml;&szlig;en und/oder Missachten des Judge wird ein Freewin an den Gegner vergeben.</li>
	</ul>
}