@(participations: List[org.slashgames.tournament.tournaments.models.Participation])

@import org.slashgames.tournament.tournaments.models._
@import org.slashgames.tournament.tournaments.views.html._

@main("Dashboard") {
	<h3>Aktuelles Turnier</h3>

	@for(participation <- participations) {
		@if(participation.tournament.status == TournamentStatus.RUNNING) {
			<h4><a href="@org.slashgames.tournament.tournaments.controllers.routes.TournamentController.tournament(participation.tournament.id)">@participation.tournament.name</a></h4>
			
			@tournamentDetails(participation.tournament)
		}
	}

	<h3>Meine anstehenden Turniere</h3>
	
	@tournamentListHeader()
		
	@for(participation <- participations) {
		@if(participation.tournament.status == TournamentStatus.SIGNUP) {
			@tournamentListEntry(participation.tournament)
		}
	}
	
	<h3>Meine abgeschlossenen Turniere</h3>
	
	@tournamentListHeader()
		
	@for(participation <- participations) {
		@if(participation.tournament.status == TournamentStatus.FINISHED) {
			@tournamentListEntry(participation.tournament)
		}
	}	
}
