@(participations: List[org.slashgames.tournament.tournaments.models.Participation], level: Integer, xpAcquiredForLevelUp: Integer, xpRequiredForLevelUp: Integer, xpForLevelUpRatio: Integer)

@import org.slashgames.tournament.tournaments.models._
@import org.slashgames.tournament.tournaments.views.html._

@main("Dashboard") {
	<h3>Level @level</h3>
	
	<div class="progress">
	  	<div class="progress-bar" role="progressbar" aria-valuenow="@xpAcquiredForLevelUp" aria-valuemin="0" aria-valuemax="@xpRequiredForLevelUp" style="width: @(xpForLevelUpRatio + "%");">
	    	<span>@xpAcquiredForLevelUp / @xpRequiredForLevelUp XP</span>
	  	</div>
	</div>
	
	<h3>Aktuelles Turnier</h3>

	@for(participation <- participations) {
		@if(participation.tournament.status == TournamentStatus.RUNNING) {
			<h4><a href="@org.slashgames.tournament.tournaments.controllers.routes.TournamentController.tournament(participation.tournament.id)">@participation.tournament.name</a></h4>
			
			@tournamentDetails(participation.tournament)
		}
	}

	<h3>Meine anstehenden Turniere</h3>
	
	@tournamentListHeader()
		
	@for(participation <- participations) {
		@if(participation.tournament.status == TournamentStatus.SIGNUP || participation.tournament.status == TournamentStatus.CHECKIN) {
			@tournamentListEntry(participation.tournament)
		}
	}
	
	<h3>Meine abgeschlossenen Turniere</h3>
	
	@tournamentListHeader()
		
	@for(participation <- participations) {
		@if(participation.tournament.status == TournamentStatus.FINISHED) {
			@tournamentListEntry(participation.tournament)
		}
	}	
}
