@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="de">
    <head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

    	<meta name="description" content="Slash Games Tournament Web Application">
		<meta name="keywords" content="slash games,tournament">
		
        <title>@title</title>
        
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" media="screen">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script src="@routes.Assets.at("javascripts/jquery-2.1.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        
        <!--[if lt IE 9]>
			<script src="@routes.Assets.at("javascripts/html5shiv-printshiv.js")""></script>
	        <script src="@routes.Assets.at("javascripts/respond-1.4.2.min.js")"></script>
		<![endif]-->
    </head>
    <body>
		<div class="container">
	    	<header>
	    		<div>@header()</div>
	    	</header>
	    	
	        <nav>
	        	<div>@nav()</div>
	        </nav>

			<div>
				<h2>@title</h2>
	        	<div id="alert-dismissable"></div>
	        	<div id="content">@content</div>
        	</div>
	        
	        <footer>
	        	<div class="footer">@footer()</div>
	        </footer>
        </div>
    </body>
</html>
